.buttonCell {
	width: 1000px;
}

.mediaContainer {
	display: flex;
	flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
	justify-content: space-between; /* Distributes space between items */
	padding: 10px;
}

.searchBar {
	display: flex;
	padding: 10px;
}